/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}